:root {
    --modal-background: #fff;
    --modal-header-background: #d3d3d3;
    --modal-header-text: #000;
    --modal-x-color-hover: #ff0000; 
    --modal-text-background: #000;

    --modal-button-background: #d3d3d3;
    --modal-button-background-hover: #888;
    --modal-button-text-hover: #fff;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
}

html {
    font-family: monospace;
}
/* чтобы размытие было синхронно с появляением модального окна. иначе вначале размоется, потом появится окно. некрасиво */
.page__content {
    transition: filter 0.5s ease;
}

button {
    padding: 0.5em;
    margin: 1em;
    border-radius: 5px;
    background-color: var(--modal-button-background);
    transition: 0.5s;
}

button:hover {
    background-color: var(--modal-button-background-hover);
    color: var(--modal-button-text-hover);
    cursor: pointer;
}


p {
    margin: 0 1em;
}

/* главное модальное окно. Его задача лечь поверх всей страницы, своего контента - только полупрозрачный фон.
изначально visibility: hidden Это универсальный для всех модалок класс */
.modal {
    visibility: hidden;
    opacity: 0;
    width: 100%; /* на всю ширину и высоту*/ 
    height: 100%;
    position: fixed;
    z-index: 1000; 
    left: 0;
    top: 0;
    overflow: auto; /* без этой настройки не будет скролла если контент модалки вылазит за предел экрана. нн убирать*/
    background-color: rgba(0,0,0,0.3); 
    transition: 0.5s ease-out;
}
/* после нажатия кнопки применится этот класс. модалка плавно появится */
.modal__open {
    visibility: visible;
    opacity: 1;
    transition: 0.5s ease-in;
}

/* Форма модалки */
.modal .modal__form{
    width: 40%;
    margin: 5% auto;
    background-color: var(--modal-background);
    border: 1px solid #888;
    border-radius: 10px;
    text-align: justify;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.56);
}

/* шапка модалки. где заголовок и крестик */
.modal__header {
    display: flex;
    height: auto;
    justify-content: space-between;
    padding: 0 1em;
    align-items: center;
    font-weight: bold;
    background-color: var(--modal-header-background);
    background-image: url('noise_lines.webp');
    color: var(--modal-header-text);
    border-radius: 10px 10px 0 0 ;
}

/* Заголовок модалки */
.modal__header h2 {
    font-size: 1.5em;
}

/* КРЕСТИК */
.modal__header span { 
    font-size: 3rem;
    cursor: pointer;
    transition: 0.5s;
}

.modal__header span:hover, .modal__header span:focus { 
    color: var(--modal-x-color-hover);
}

/* контено модалки */
.modal__content {
    padding: 1em;
}

/* делает фон размытым */
.blurred {
    filter: blur(3px);
    -webkit-filter: blur(3px); 
}

/* пример манипуляций с цветом модалок */
button.red {
    background-color: #b51818;
    color: white;
}

.red h2{
    color: red;
}